.grid-about-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.grid-about-container img {
    grid-column: 1/4;
    grid-row: 1/-1;
    z-index: 1;
}

.grid-about-container > div {
    grid-column: 3/-1;
    grid-row: 1/-1;
    padding-left: 7em;
}