#contact {
    min-height: 88vh;
}

#contact-title {
    text-align: center;
    padding: 3em;
    margin: 2em;
}

#grid-contact {
    display: grid;
    width: 50%;
    min-width: 22rem;
    justify-content: center;
    margin: auto;
    padding-bottom: 2rem;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-areas: 
    'prof-media grid-contact-form social-media';
}

#grid-contact-form {
    display: grid;
    row-gap: 0.5em;
    width: 70%;
    min-width: 22rem;
    padding: 0.5em 1em;
    margin: auto;
    border: 2px solid black;
    border-radius: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'contact-name'
    'contact-email'
    'contact-msg'
    'send-button';
}

#contact-name {
    grid-area: contact-name;
}

#contact-email {
    grid-area: contact-email;
}

#contact-msg {
    grid-area: contact-msg;
    resize: none;
}

#send-button {
    grid-area: send-button;
    margin-inline: auto;
}

.input-text {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-block: 1rem;
    padding: 1em;
    color: var(--clr-sec);
    background-color: inherit;
    border: 2px solid var(--clr-sec);
    border-radius: 1rem;
}

.input-text:focus {
    outline: 0;
}

#social-media {
    display: flex;
    flex-direction: column;
    grid-area: social-media;
    padding: 1em;
    width: 70%;
    max-width: 29rem;
    margin: 2em auto;
    justify-content: space-around;
}

#prof-media {
    display: flex;
    flex-direction: column;
    grid-area: prof-media;
    padding: 1em;
    width: 70%;
    max-width: 29rem;
    margin: 2em auto;
    justify-content: space-around;
}