label {
    color: var(--clr-text-light);
}

textarea {
    resize: none;
}

#message__section {
    color: var(--clr-text-light);
    padding-inline: 1em;
}

#message__title {
    font-size: 3rem;
    line-height: 1em;
}

#message__content {
    color: hsl(0, 0%, 73%);
    padding-block: 1em;
    line-height: 1.5em;
}

#fancy__text {
    color: var(--clr-accent);
    transform: rotate(70deg);
    -webkit-transform: rotate(70deg);
}

#contact__form {
    display: grid;
    padding: 1em;
    gap: 1em;
}

.form__field {
    display: grid;
}

.field {
    border: none;
    border-radius: 0.5em;
    padding: 0.5em;
    color: var(--clr-text-light);;
    background-color: hsl(0, 0%, 43%);
}

::placeholder {
    color: var(--clr-text-light);
    opacity: 0.5;
}

#form__send__btn {
    margin: auto;
    padding-block: 0.5em;
    padding-inline: 1em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--clr-accent);
}

#media__section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.media__links {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
}

.media__links img {
    width: 75%;
}

.media__links > a {
    text-align: center;
}

@media only screen and (min-width: 57rem) {
    #contact__content {
        grid-template-columns: 1fr 15fr 1fr;
        grid-template-areas: 
        'prof-media grid-contact-form social-media';
    }

    #contact__form {
        max-width: 90rem;
    }
}