#contact {
    min-height: 88vh;
}

#contact__title {
    text-align: center;
    margin-top: 5rem;
    color: var(--clr-sec);
}

#contact__content {
    display: grid;
    justify-content: center;
    margin: auto;
    padding-bottom: 2rem;
    grid-template-columns: 1fr 9fr 1fr;
    grid-template-areas: 
    'prof-media grid-contact-form social-media';
}

#contact__form {
    grid-area: grid-contact-form;
    display: grid;
    row-gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--clr-sec);
    border-radius: 2rem;
    grid-template-columns: 1fr;
    grid-template-areas: 
    'contact-name'
    'contact-email'
    'contact-msg'
    'send-button';
}

#contact__name {
    grid-area: contact-name;
}

#contact__email {
    grid-area: contact-email;
}

#contact__msg {
    grid-area: contact-msg;
    resize: none;
}

#send__btn {
    grid-area: send-button;
    margin-inline: auto;
}

.input-text {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin-block: 1rem;
    padding: 1em;
    color: var(--clr-sec);
    background-color: inherit;
    border: 2px solid var(--clr-sec);
    border-radius: 1rem;
}

.input-text:focus {
    outline: 0;
}

#social__media {
    display: flex;
    flex-direction: column;
    grid-area: social-media;
    padding: 0.2rem;
    max-width: 29rem;
    margin: 1rem auto;
    justify-content: space-around;
}

#prof__media {
    display: flex;
    flex-direction: column;
    grid-area: prof-media;
    padding: 0.2rem;
    max-width: 29rem;
    margin: 2em auto;
    justify-content: space-around;
}

@media only screen and (min-width: 53rem) {
    #contact__content {
        grid-template-columns: 1fr 15fr 1fr;
        grid-template-areas: 
        'prof-media grid-contact-form social-media';
    }

    #contact__form {
        max-width: 90rem;
    }
}