#exp {
    width: 70%;
    margin: auto;
}

.exp__title {
    text-align: center;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: var(--clr-accent);
}

#exp__list {
    display: grid;
    gap: 1rem;
    margin-bottom: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: 
    'walmart-exp'
    'soroco-exp'
    'samsung-exp';
}

#exp__item{
    border-radius: 2rem;
    padding: 2rem;
}

#walmart-exp {
    grid-area: walmart-exp;
}

#soroco-exp {
    grid-area: soroco-exp;
}

#samsung-exp {
    grid-area: samsung-exp;
}

@media only screen and (min-width: 57rem) {
    #exp__list {
        min-height: 100vh;
        display: block;
        text-align: center;
    }
    
    .exp__item {
        display: grid;
        min-height: 100vh;
        position: relative;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
        align-items: center;
        overflow: hidden;
        color: var(--clr-text-light);
    }
    
    .exp__img {
        grid-column: 1 / 1;
        width: 50%;
        object-fit: cover;
        opacity: 0;
        transform: translateX(-100%);
        transition: all 1s;
    }

    .exp__info {
        grid-column: 2 / -1;
    }

    .exp__img.show {
        opacity: 1;
        transform: translateX(0);
    }
    
    .exp__info > li {
        opacity: 0;
        transform: translateX(100%);
        transition: all 1s;
    }

    .exp__info > li.show {
        opacity: 1;
        transform: translateX(0);
    }
}