#hero {
    height: 90vh;
    position: relative;
}

#hero__img {
    position: absolute;
    top: 3rem;
}

#hero__content {
    position: absolute;
    z-index: 1;
    top: 8rem;
    left: 1rem;
}

#hero__content__name {
    font-family: 'Satisfy', cursive;
    font-size: 2rem;
    padding-bottom: 0.2em;
}

#resume-btn {
    display: inline-block;
    background-color: var(--clr-accent);
    margin-top: 2rem;
    margin-inline: auto;
    border-radius: 1.5em;
    padding-inline: 4em;
    padding-block: 1em;
    border: none;
}