.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
}

#projects {
    min-height: 100vh;
    margin: auto;
}

#projects__list {
    margin: auto;
}

#projects-list li:hover {
    box-shadow: 0px 0px 40px -2px var(--clr-sec);
}

.project__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    border-radius: 2rem;
    padding: 1rem;
    margin-bottom: 2rem;
}

.project__img {
    width: auto;
    border: 2px solid var(--clr-accent);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.project__img-right {
    width: auto;
    border: 2px solid var(--clr-accent);
    grid-column: 1 / -1;
    grid-row: 1 / -1;
}

.project__desc {
    font-size: 0.75rem;
    grid-column: 2 / -1;
    grid-row: 1 / -1;
}

.projects__title {
    display: inline-block;
    color: var(--clr-accent);
    width: 80%;
    position: relative;
    font-size: 3vw;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
}

/* .projects__title::after {
    content: '';
    position: absolute;
    width: 80%;
    height: 2px;
    background-color: var(--clr-accent);
    left: 0;
    bottom: 1rem;
} */

.project__desc > p {
    font-size: 1vw;
    line-height: 2;
    max-width: 60ch;
    padding-right: 3em;
}

.project__desc > a {
    margin-left: auto;
}

@media (min-width: 57rem) {
    #projects {
        width: 70%;
        margin: auto;
    }

    .project__content {
        display: block;
        position: relative;
        min-height: 100vh;
        transition: transform 800ms ease;
    }

    .project__desc {
        font-size: 1rem;
    }

    @media (hover: hover) {
    
        .project__img {
            position: absolute;
            width: 50%;
            z-index: 5;
            left: 50%;
            top: 50%;
            opacity: 0;
            transform: translate(-50%, -50%);
            transition: all 300ms ease-in-out;
        }

        .project__img.show {
            opacity: 1;
        }
    
        .project__img.active {
            left: 20%;
        }
    
        .project__img-right {
            position: absolute;
            width: 50%;
            z-index: 5;
            right: 50%;
            top: 50%;
            opacity: 0;
            transform: translate(50%, -50%);
            transition: all 300ms ease-in-out;
        }
    
        .project__img-right.show {
            opacity: 1;
        }
    
        .project__img-right.active {
            right: 20%;
        }
    
        .project__desc {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
            transition: all 300ms ease-in-out;
        }
    
        .project__desc-rev {
            left: 0;
            right: 50%;
        }
    
        .project__desc.active {
            opacity: 1;
        }
    }

    @media (hover: none) {
    
        .project__img {
            position: absolute;
            width: 50%;
            z-index: 5;
            left: 20%;
            top: 50%;
            transform: translate(-50%, -50%);
            transition: all 300ms ease-in-out;
        }
    
        .project__img-right {
            position: absolute;
            width: 50%;
            z-index: 5;
            right: 20%;
            top: 50%;
            transform: translate(50%, -50%);
        }
    
        .project__desc {
            position: absolute;
            width: 50%;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
    
        .project__desc-rev {
            left: 0;
            right: 70%;
        }

    }
}