/*
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Satisfy', cursive;
    Primary Neutral color
    Secondary Dark complementary color
    Accent contrast color (call to action)
*/

/* Global section */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');

:root {
    --clr-primary: hsl(160, 100%, 97%);
    --clr-sec: hsl(190, 25%, 66%);
    --clr-accent: hsl(40, 48%, 48%);
    --clr-text-dark: hsl(0, 0%, 0%);
    --clr-text-light: hsl(240, 10%, 96%);
    --header-height: 50px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    margin: 0;
    padding: 0;
}

.font-dark {
    color: var(--clr-text-dark);
}

.font-light {
    color: var(--clr-text-light);
}

.font-accent {
    color: var(--clr-accent);
}

.box-shadow {
    box-shadow: 0 0 1.5rem -0.25rem var(--clr-accent);
}

.card {
    padding: 2em 2em;
    box-shadow: 0 0 1rem 0 currentColor;
    border-radius: 2rem;
    background: linear-gradient(to right top, #f9f9f369, #ffffff67);
    backdrop-filter: blur(10px);
}

.elem-hide {
    display: none;
}

body {
    background-color: var(--clr-primary);
}

main {
    margin-top: calc(-1 * var(--header-height));
}

span {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: var(--clr-accent);
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    z-index: -1;
}

h1,h2,h3,h4 {
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
}

.img-clip-circle {
    display: block;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 50%;
    margin-inline: auto;
    margin-block: 1em;
}

.img-clip-lpoint {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.fancy-border-1 {
    border-radius: 65% 35% 70% 30% / 35% 66% 34% 65%;
}

.border-dialog {
    border-radius: 10% 10% 0% 10% / 10% 10% 0% 10%;
}

.btn-primary {
    padding: 0.5em;
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    border: 1px solid var(--clr-accent);
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--clr-sec);
    box-shadow: 0px 0px 0px 0px var(--clr-primary);
    text-shadow: none;
    background-color: var(--clr-primary);
    color: var(--clr-accent);
}

/* Header section */

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.8em;
    transition: transform 0.2s;
}

.header-hide {
    transform: translateY(var(--header-height));
}

#logo {
    margin-top: 0.25em;
    margin-left: 0.25em;
    transition: transform, text-shadow 300ms ease-in-out;
    align-self: flex-start;
}

#logo:hover {
    transform: scale(1.1);
}

#nav__ham {
    display: block;
    margin-right: 0.5rem;
    cursor: pointer;
    align-self: flex-end;
}

#nav {
    /* This is added separate to #nav because otherwise display property of id takes over everything */
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    margin-block: auto;
    transition: width 300ms ease-in-out;
}

#nav.active {
    background-color: var(--clr-sec);
    height: 100vh;
}

.bar {
    display: block;
    width: 1.5rem;
    height: 0.2rem;
    margin: 0.3rem auto;
    background-color: black;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

#nav__ham.active .bar:nth-child(2) {
    opacity: 0;
}

#nav__ham.active .bar:nth-child(1) {
    transform: translateY(0.5rem) rotate(45deg);
}

#nav__ham.active .bar:nth-child(3) {
    transform: translateY(-0.5rem) rotate(-45deg);
}

#nav__menu {
    display: none;
    opacity: 0;
    flex-direction: column;
    background-color: var(--clr-sec);
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#nav__menu.active {
    display: flex;
    opacity: 1;
}

.nav-item {
    color: var(--clr-text-dark);
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding-block: 1rem;
    padding-inline: 3rem;
    transition: all 300ms ease-in-out;
}

.nav-item:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px var(--clr-sec);
}

@media only screen and (min-width: 53rem) {
    header {
        justify-content: space-around;
    }

    #logo {
        align-self: auto;
    }

    #nav {
        height: auto;
    }

    #nav__menu {
        margin-block: auto;
        display: flex;
        opacity: 1;
        flex-direction: row;
        padding-inline: 1rem;
        padding-block: 0.2rem;
        justify-content: flex-end;
        align-items: center;
        background-color: inherit;
    }
    
    #nav__ham {
        display: none;
    }
  }

/* Footer section */

footer {
    text-align: center;
    margin: auto;
    width: 90%;
}