/*
    font-family: 'Merriweather', serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Satisfy', cursive;
    Primary Neutral color
    Secondary Dark complementary color
    Accent contrast color (call to action)
*/

/* Global section */

:root {
    --clr-primary: #F1FFFA;
    --clr-sec: #93B7BE;
    --clr-accent: #B68F40;
    --clr-text-dark: #000000;
    --clr-text-light: #F4F4F6;
    --header-height: 50px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.font-dark {
    color: var(--clr-text-dark);
}

.font-light {
    color: var(--clr-text-light);
}

.font-accent {
    color: var(--clr-accent);
}

.box-shadow {
    box-shadow: 0 0 1.5rem -0.25rem var(--clr-accent);
}

.card {
    padding: 2em 2em;
    box-shadow: 0 0 1rem 0 currentColor;
    border-radius: 2rem;
    background: linear-gradient(to right top, #f9f9f369, #ffffff67);
    backdrop-filter: blur(10px);
}

body {
    background-color: var(--clr-primary);
    font-family: 'Montserrat', sans-serif;
}

span {
    font-size: 1.3em;
}

a {
    text-decoration: none;
    color: var(--clr-accent);
}

p {
    line-height: 1.6;
}

img {
    max-width: 100%;
    z-index: -1;
}

h1,h2,h3,h4 {
    padding-bottom: 1em;
}

ul {
    list-style-type: none;
}

.img-clip-circle {
    display: block;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    width: 50%;
    margin-inline: auto;
    margin-block: 1em;
}

.img-clip-lpoint {
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}

.fancy-border-1 {
    border-radius: 65% 35% 70% 30% / 35% 66% 34% 65%;
}

.border-dialog {
    border-radius: 10% 10% 0% 10% / 10% 10% 0% 10%;
}

.btn-primary {
    padding: 0.5em;
    background-color: var(--clr-accent);
    color: var(--clr-text-light);
    border: 1px solid var(--clr-accent);
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--clr-sec);
    box-shadow: 0px 0px 0px 0px var(--clr-primary);
    text-shadow: none;
    background-color: var(--clr-primary);
    color: var(--clr-accent);
}

/* Header section */

header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 0.8em;
    transition: transform 0.2s;
}

.header-hide {
    transform: translateY(var(--header-height));
}

nav {
    display: flex;
    background-color: var(--clr-sec);
    flex-direction: column;
    padding: 1rem;
    align-items: center;
}

#logo {
    margin-top: 0.25em;
    margin-left: 0.25em;
}

#nav {
    margin-block: auto;
}

#nav__ham {
    margin-right: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
}

.elem-hide {
    display: none;
}

.nav-item {
    color: var(--clr-text-light);
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    padding-block: 1.5em;
    padding-inline: 3rem;
    transition: transform, text-shadow 150ms;
}

.nav-item:hover {
    transform: scale(1.1);
    text-shadow: 0 0 10px currentColor;
}

#nav__close__btn {
    font-size: 2rem;
    align-self: flex-end;
    cursor: pointer;
}

/* Footer section */

footer {
    text-align: center;
    margin: auto;
    width: 90%;
}