@import "style.css";

#wip {
    width: 70%;
    margin: auto;
}

#wip__title {
    text-align: center;
    margin-top: 5rem;
    color: var(--clr-sec);
}

.wip__item {
    min-height: 100vh;
    text-align: center;
    border-radius: 2rem;
    padding: 1em;
    transition: transform 800ms ease;
}

@media only screen and (min-width: 53rem) {
    .wip__item {
        display: grid;
        align-items: center;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        position: relative;
    }

    .wip__item img {
        border: 2px solid var(--clr-accent);
    }

    .wip__desc h3 {
        font-size: 4vw;
        transform: translateX(-100%);
        opacity: 0;
        transition: transform 500ms ease-in-out, opacity 200ms ease-in-out 300ms;
    }

    .wip__desc h3.show {
        transform: translateX(0);
        opacity: 1;
    }

    .wip__desc p {
        font-size:  clamp(0.8rem, 1vw, 4rem);
        line-height: 2;
        max-width: 60ch;
        padding-inline: 2em;
        padding-block: 1em;
        transform: translateY(-100%);
        opacity: 0;
        transition: all 300ms ease-in-out 500ms;
    }

    .wip__desc p.show {
        transform: translateY(0);
        opacity: 1;
    }
}