@import "style.css";

#wip {
    min-height: 88vh;
    width: 70%;
    margin: auto;
}

#wip-title {
    text-align: center;
    padding: 3em;
    margin: 2em;
}

.wip-list {
    display: grid;
    max-width: 80%;
    margin: auto;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
}

.wip-list li {
    text-align: center;
    border: 2px solid black;
    border-radius: 2rem;
    transition: transform 800ms ease;
}

.wip-list li:hover {
    box-shadow: 0px 0px 40px -2px var(--clr-sec);
}