* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    color: white;
    margin-top: 10px;
    grid-area: header;
}

div {
    color: white;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}

body {
    width: 80%;
    margin: auto;
}

#root {
    display: grid;
    width: 100%;
    gap: 10px;
    grid-template-rows: 6rem repeat(5, 1fr) 2rem;
    grid-template-columns: 2em 1fr 2em;
    grid-template-areas: 
    'header header header'
    'intro intro intro'
    'social-links about prof-links'
    'social-links exp prof-links'
    'social-links proj prof-links'
    'social-links contact prof-links'
    'footer footer footer';
}

#logo {
    background-color: #112B3C;
}

#nav {
    background-color: #B689C0;
}

#social-links {
    background-color: #6A67CE;
    grid-area: social-links;
}

#prof-links {
    background-color: #6A67CE;
    grid-area: prof-links;
}

.intro {
    background-color: #251D3A;
    grid-area: intro;
}

#about {
    background-color: #2A2550;
    grid-area: about;
}

#exp {
    background-color: #E04D01;
    grid-area: exp;
}

#proj {
    background-color: #FF7700;
    grid-area: proj;
}

#contact {
    color: black;
    background-color: #EFEFEF;
    grid-area: contact;
}

footer {
    grid-area: footer;
    text-align: center;
    margin-bottom: 5px;
    color: black;
}
