@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global section */

:root {
    --clr-white: #fffff2;
    --clr-white-trans: #fffff27c;
    --clr-black: #171717;
    --clr-black-trans: #1b1b1bc0;
    --clr-accent: #F27900;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.font-dark {
    color: var(--clr-black);
}

.font-light {
    color: var(--clr-white);
}

.box-shadow {
    box-shadow: 0 0 1.5rem -0.25rem var(--clr-accent);
}

.card {
    padding: 2em 2em;
    box-shadow: 0 0 1rem 0 var(--clr-white-trans);
    background-color: var(--clr-white);
    backdrop-filter: blur(10px);
    color: var(--clr-black);
    border-radius: 1rem;
}

body {
    background-color: var(--clr-black);
}

a {
    text-decoration: none;
    color: var(--clr-accent);
}

img {
    width: 100%;
}

h2 {
    padding-bottom: 1em;
    border-bottom: 0.1em solid var(--clr-accent);
}

.btn-primary {
    padding: 0.5em;
    background-color: inherit;
    border: 1px solid currentColor;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--clr-white);
    box-shadow: 0px 0px 0px 0px var(--clr-black);
    text-shadow: none;
    background-color: var(--clr-black);
}

#grid-root-container {
    display: grid;
    width: min(70%, 1000px);
    margin: 2rem auto;
    grid-template-rows: repeat(2, 1fr) 1.5fr 3fr 1fr 0.1fr;
    grid-template-columns: 2rem minmax(0, 1fr) 2rem;
    grid-template-areas: 
    'intro intro intro'
    '. about .'
    '. exp .'
    '. proj .'
    '. contact .'
    'footer footer footer';
}


/* Header section */

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-white);
}

#logo {
    margin-top: 0.25em;
    margin-left: 0.25em;
}

#nav {
    margin-right: 1em;
    margin-block: auto;
}

.nav-item {
    color: var(--clr-black);
    margin-right: 4rem;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    transition: color, text-shadow 150ms;
}

.nav-item:hover {
    text-shadow: 0 0 10px currentColor;
}

/* Main section */

.intro {
    grid-area: intro;
}

.grid-intro-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(12, 1fr);
}

.grid-intro-container img, .grid-intro-container div {
    grid-row: 1/-1;
}

.grid-intro-container img {
    grid-column: 4/-1;
}

.grid-intro-container div {
    grid-column: 1/10;
}

#about {
    grid-area: about;
}

#exp {
    grid-area: exp;
}

#proj {
    grid-area: proj;
}

.grid-about-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.grid-about-container img {
    grid-column: 1/4;
    grid-row: 1/-1;
}

.grid-about-container > div {
    grid-column: 3/-1;
    grid-row: 1/-1;
    font-size: larger;
}

.grid-projects-done-container, 
.grid-projects-progress-container, 
.grid-experience-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-projects-done-container li, 
.grid-projects-progress-container li {
    transition: transform 150ms, filter 150ms;
}

.grid-projects-progress-container li {
    filter: blur(5px);
}

.grid-projects-done-container li:hover, 
.grid-projects-progress-container li:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px -2px currentColor;
    filter: blur(0px);
}


/* Contact section */

#grid-form-container {
    display: grid;
    width: 80%;
    row-gap: 10em;
    margin-inline: auto;
    justify-content: center;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    '. contact-details contact-details contact-details contact-details contact-details contact-details .' 
    '. contact-msg contact-msg contact-msg contact-msg contact-msg contact-msg .'
    '. . send-button send-button send-button send-button . .';
}

#grid-form-container label {
    font-size: 1.5rem;
}

#contact {
    grid-area: contact;
}

#contact-details {
    grid-area: contact-details;
    display: grid;
    gap: 6em;
    grid-template-columns: repeat(2, 1fr);
}

#contact-msg {
    grid-area: contact-msg;
}

#send-button {
    grid-area: send-button;
    margin-inline: auto;
}

/* #send-button input[type="submit"] {
    min-height: 3rem;
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
} */

.input-text {
    width: 100%;
    margin-block: 1rem;
    padding: 1em;
    color: var(--clr-black);
    background-color: inherit;
    border: none;
    border-bottom: 2px solid var(--clr-black-trans);
}

.input-text:focus {
    outline: none;
}

/* Side Links section */

#social-links, #prof-links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    bottom: 15rem;
}

#social-links {
    right: 0;
}

#prof-links {
    left: 0;
}

#prof-links .expandable-link::before, 
#social-links .expandable-link::after {
    content: '';
    display: inline-block;
    aspect-ratio: 25/1;
    width: 3rem;
    background-color: var(--clr-white-trans);
    margin-bottom: 15%;
}

.link-svg {
    transition: transform ease-out 150ms;
}

.link-svg:hover {
    transform: scale(1.5);
}


/* Footer section */

footer {
    grid-area: footer;
    text-align: center;
}


/*Media queries*/

/*Move side links at around 700px and change body size to occupy 90% around 600px*/
@media (max-width: 1200px) {
    #grid-root-container {
        margin: 2rem auto;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'intro'
        'about'
        'exp'
        'proj'
        'contact'
        'footer';
    }

    .grid-intro-container img,
    .grid-intro-container div {
        grid-column: 1/-1;
    }

    .grid-projects-done-container, 
    .grid-projects-progress-container, 
    .grid-experience-container {
        grid-template-columns: none;
    }

    #grid-form-container {
        width: 100%;
        row-gap: 8em;
        margin-inline: auto;
        justify-content: center;
        grid-template-columns: 1fr;
        grid-template-areas: 
        'contact-details' 
        'contact-msg'
        'send-button';
    }

    #contact-details {
        grid-area: contact-details;
        display: grid;
        gap: 3em;
        grid-template-columns: 1fr;
    }
}

@media (max-width: 600px) {
    #grid-root-container {
        min-width: max(90%, 320px);
        margin: 2rem auto;
    }
}

@media (hover: none) {
    .grid-projects-done-container li:hover, 
    .grid-projects-progress-container li:hover {
        filter: blur(0px);
    }
}