@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Global section */

:root {
    --clr-white: #fffff2;
    --clr-white-trans: #fffff27c;
    --clr-black: #171717;
    --clr-black-trans: #1b1b1bc0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.font-dark {
    color: var(--clr-black);
}

.font-light {
    color: var(--clr-white);
}

body {
    background-color: var(--clr-white);
}

a {
    text-decoration: none;
}

h2 {
    padding: 10px;
}

.btn-primary {
    padding: 10px;
    background-color: inherit;
    border: 1px solid currentColor;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary:hover {
    color: var(--clr-black);
    box-shadow: 0px 0px 0px 0px var(--clr-white);
    text-shadow: none;
    background-color: var(--clr-white);
}

#grid-root-container {
    display: grid;
    max-width: 70%;
    margin: 20px auto;
    gap: 50px;
    row-gap: 100px;
    grid-template-rows: repeat(3, 70rem) 150rem 50rem 6rem;
    grid-template-columns: 2em minmax(0, 1fr) 2em;
    grid-template-areas: 
    'intro intro intro'
    '. about .'
    '. exp .'
    '. proj .'
    '. contact .'
    'footer footer footer';
}


/* Header section */

header {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 10px -2px currentColor;
    background-color: var(--clr-black);
}

#logo {
    margin-top: 5px;
    margin-left: 10px;
}

#nav {
    margin-right: 10px;
    margin-bottom: 5px;
}

.nav-item {
    color: var(--clr-white);
    margin-right: 4rem;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    transition: color, text-shadow 150ms;
}

.nav-item:hover {
    text-shadow: 0 0 10px currentColor;
}

/* Main section */

.intro {
    grid-area: intro;
}

.grid-intro-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(5, 1fr);
}

.grid-intro-container img, .grid-intro-container div {
    grid-row: 1/-1;
}

.grid-intro-container img {
    background-color: var(--clr-black);
    grid-column: 2/-1;
}

.grid-intro-container div {
    grid-column: 1/4;
    font-size: larger;
    padding: 5rem;
    background-color: var(--clr-black-trans);
    box-shadow: 0px 0px 40px -2px currentColor
}

#about {
    grid-area: about;
}

#exp {
    grid-area: exp;
}

#proj {
    grid-area: proj;
}

.grid-about-container {
    display: grid;
    place-items: center;
    grid-template-columns: repeat(7, 1fr);
}

.grid-about-container img {
    grid-column: 1/4;
    grid-row: 1/-1;
}

.grid-about-container > div {
    grid-column: 3/-1;
    grid-row: 1/-1;
    font-size: larger;
    padding: 5rem;
    background-color: var(--clr-black-trans);
    box-shadow: 0px 0px 40px -2px currentColor;
}

.grid-projects-done-container, 
.grid-projects-progress-container, 
.grid-experience-container {
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
}

.grid-projects-done-container > li, 
.grid-projects-progress-container > li, 
.grid-experience-container > li {
    padding: 10px;
    box-shadow: 0px 0px 20px -2px var(--clr-black-trans);
    background-color: var(--clr-black-trans);
    border-radius: 10px;
}

.grid-projects-done-container li, 
.grid-projects-progress-container li {
    transition: transform 150ms, filter 150ms;
}

.grid-projects-progress-container li {
    filter: blur(5px);
}

.grid-projects-done-container li:hover, 
.grid-projects-progress-container li:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 40px -2px currentColor;
    filter: blur(0px);
}


/* Contact section */

#grid-form-container {
    display: grid;
    width: 80%;
    gap: 6rem;
    margin-top: 4rem;
    margin-inline: auto;
    padding: 2rem;
    place-content: center;
    box-shadow: 0px 0px 20px -2px currentColor;
    background-color: var(--clr-black-trans);
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    '. contact-details contact-details contact-details contact-details contact-details contact-details .' 
    '. contact-msg contact-msg contact-msg contact-msg contact-msg contact-msg .'
    '. . send-button send-button send-button send-button . .';
}

#grid-form-container label {
    font-size: 1.5rem;
}

#contact {
    grid-area: contact;
}

#contact-details {
    grid-area: contact-details;
    display: grid;
    gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
}

#contact-msg {
    grid-area: contact-msg;
}

#send-button {
    grid-area: send-button;
    margin-inline: auto;
}

#send-button input[type="submit"] {
    min-height: 3rem;
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
}

.input-text {
    width: 100%;
    margin-block: 1rem;
    padding: 1rem;
    background-color: inherit;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid currentColor;
}

.input-text:focus {
    outline: none;
}

/* Side Links section */

#social-links, #prof-links {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    position: fixed;
    bottom: 15rem;
}

#social-links {
    right: 0;
}

#prof-links {
    left: 0;
}

#prof-links .expandable-link::before, 
#social-links .expandable-link::after {
    content: '';
    display: inline-block;
    aspect-ratio: 25/1;
    width: 3rem;
    background-color: var(--clr-black);
    margin-bottom: 15%;
}

.link-svg {
    transition: transform ease-out 150ms;
}

.link-svg:hover {
    transform: scale(1.5);
}


/* Footer section */

footer {
    grid-area: footer;
    text-align: center;
}
